* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-image: url(../img/fondo-pagina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
  width: 80%;
  margin: 0.4rem auto;
  padding: 0.2rem;
}

/*Estilos Generales*/
#container {
  background-color: #ccc;
  width: 90%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*Cabecera*/
#cabecera {
  background-image: url(../img/fondo-cabecera.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

#cabecera #logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgb(44, 195, 206);
  margin-bottom: 1rem;
}

#cabecera #logo img {
  width: 18%;
  margin-right: 1rem;
}

#cabecera #logo h1 {
  font-size: 3.5rem;
  letter-spacing: 2px;
  color: #fff;
}

#cabecera #logo p {
  margin-bottom: 1rem;
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;
}

/*Menu*/
#menu {
  width: 100%;
  margin: 1rem auto;
}

#menu ul {
  display: flex;
  justify-content: flex-end;
}
#menu ul li {
  margin-left: 1rem;
}

#menu ul li:last-child {
  margin-right: 1rem;
}

#menu ul li a {
  cursor: pointer;
  color: #fff;
  font-size: 1.2rem;
  transition: all 1s;
}

#menu ul li:hover a {
  color: rgb(42, 187, 197);
}

/*Contenido Principal*/
#contenido-principal {
  background: linear-gradient(to top right, rgb(15, 15, 253), white);
}

/*Pie de pagina*/
#pie-p {
  width: 100%;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

/****************Inicio de sesion******************/

/****************Pagina Registro******************/
#contenido-principal #formulario {
  display: flex;
  background: linear-gradient(to bottom right, rgb(15, 15, 253), white);
  width: 50%;
  flex-wrap: wrap;
  margin: 2rem auto;
  padding: 10px;
  border: 1px solid #000;
  justify-content: center;
}

#contenido-principal #formulario .subtitulo {
  margin: 1rem auto;
  font-size: 2rem;
}

#contenido-principal #formulario label {
  margin: 0.5rem auto;
  font-size: 1.2rem;
  width:50%;
  text-align: center;
}

#contenido-principal #formulario #canvas {
  background: url(../img/fondo-usuario.jpg);
  background-size: cover;
  background-position: center center;
  margin: 0.4rem auto;
  width: 50%;
}

#registrame,
input[type="file"] {
  width: 70%;
  margin: 0.5rem auto;
  padding: 0.2rem;
}

/************Responsive*************/
@media (max-width: 1005px) {
  #cabecera #logo h1 {
    font-size: 3rem;
  }

  #cabecera #logo p {
    font-size: 1.5rem;
  }
  #menu ul{
      justify-content:space-around;
  }
#contenido-principal #formulario{
    width: 50%;
}
  #contenido-principal #formulario .subtitulo{
      text-align:center;
  }
}

@media (max-width: 790px) {
  #cabecera #logo h1 {
    font-size: 2.5rem;
  }

  #cabecera #logo p {
    font-size: 1.3rem;
  }
  #menu ul{
      justify-content:space-around;
  }
#contenido-principal #formulario{
    width: 60%;
}
  #contenido-principal #formulario .subtitulo{
      text-align:center;
  }
}

@media (max-width: 650px) {
  #cabecera #logo h1 {
    font-size: 2rem;
  }

  #cabecera #logo p {
    font-size: 1.3rem;
  }
  #menu ul{
      justify-content:space-around;
  }
#contenido-principal #formulario{
    width: 70%;
}
  #contenido-principal #formulario .subtitulo{
      text-align:center;
  }
}

